<ul [ngClass]="{'ui-slidemenu-rootlist':root, 'ui-submenu-list':!root, 'ui-active-submenu': (-slideMenu.left == (index * menuWidth))}"
    [style.width.px]="menuWidth" [style.left.px]="root ? slideMenu.left : slideMenu.menuWidth"
    [style.transitionProperty]="root ? 'left' : 'none'" [style.transitionDuration]="effectDuration + 'ms'" [style.transitionTimingFunction]="easing">
  <ng-template ngFor let-child [ngForOf]="(root ? item : item.items)">
    <li *ngIf="child.separator" class="ui-menu-separator ui-widget-content" [ngClass]="{'ui-helper-hidden': child.visible === false}">
    <li *ngIf="!child.separator" #listitem [ngClass]="{'ui-menuitem ui-widget ui-corner-all':true,'ui-menuitem-active':listitem==activeItem,'ui-helper-hidden': child.visible === false}"
        [class]="child.styleClass" [ngStyle]="child.style">
      <a *ngIf="!child.routerLink" [attr.href]="child.url" class="ui-menuitem-link ui-corner-all" [attr.target]="child.target" [attr.title]="child.title" [attr.id]="child.id"
         [ngClass]="{'ui-state-disabled':child.disabled}" [attr.tabindex]="child.disabled ? null : '0'"
         (click)="itemClick($event, child, listitem)">
        <span class="ui-menuitem-icon" *ngIf="child.icon" [ngClass]="child.icon"></span>
        <span class="ui-menuitem-text">{{child.label}}</span>
        <span class="ui-submenu-icon pi pi-fw pi-caret-right" *ngIf="child.items"></span>
      </a>
      <a *ngIf="child.routerLink" [routerLink]="child.routerLink" [queryParams]="child.queryParams" [routerLinkActive]="'ui-menuitem-link-active'"
         [routerLinkActiveOptions]="child.routerLinkActiveOptions||{exact:false}" [href]="child.url" class="ui-menuitem-link ui-corner-all"
         [attr.target]="child.target" [attr.title]="child.title" [attr.id]="child.id" [attr.tabindex]="child.disabled ? null : '0'"
         [ngClass]="{'ui-state-disabled':child.disabled}"
         (click)="itemClick($event, child, listitem)"
         [fragment]="child.fragment" [queryParamsHandling]="child.queryParamsHandling" [preserveFragment]="child.preserveFragment" [skipLocationChange]="child.skipLocationChange" [replaceUrl]="child.replaceUrl" [state]="child.state">
        <span class="ui-menuitem-icon" *ngIf="child.icon" [ngClass]="child.icon"></span>
        <span class="ui-menuitem-text">{{child.label}}</span>
        <span class="ui-submenu-icon pi pi-fw pi-caret-right" *ngIf="child.items"></span>
      </a>
      <app-custom-slide-menusub class="ui-submenu" [item]="child" [index]="index + 1" [menuWidth]="menuWidth" *ngIf="child.items"></app-custom-slide-menusub>
    </li>
  </ng-template>
</ul>
