<footer class="p-grid p-justify-center">
  <div class="footerCategory p-col-12 p-md-4">
    <h3 class="categoryTitle">{{ 'footer.contact' | translate }}</h3>
    <ul>
      <li>Roman Aebischer</li>
      <li>info@ecat-ag.ch</li>
      <li>077 777 77 77</li>
    </ul>
  </div>
  <div class="footerCategory p-col-12 p-md-4">
    <h3 class="categoryTitle">{{ 'footer.location' | translate }}</h3>
    <ul>
      <li>
        EcatAG
      </li>
      <li>
        7000 Chur
      </li>
      <li>
        Aspermontstrasse 1
      </li>
    </ul>
  </div>
  <div class="footerCategory p-col-12 p-md-4">
    <h3 class="categoryTitle">{{ 'footer.openingTimes' | translate }}</h3>
    <table>
      <tr>
        <td>Mo-Fri:</td>
        <td>08:00 - 12:00, 13:30 - 17:00</td>
      </tr>
      <tr>
        <td>Sa:</td>
        <td>08:00 - 12:00</td>
      </tr>
    </table>
  </div>
</footer>
