.marginRight{
  margin-right: 1rem;
}
.fileNameContainer{
  p{
    text-overflow: ellipsis;
    overflow: hidden;
  }
  max-width: 100%;
}
.elementContainer{
  max-width: 100%;
}
::ng-deep .ui-orderlist{
  max-width: 100% !important;
}
::ng-deep .ui-orderlist-item{
  max-width: 100% !important;
}
::ng-deep .ui-state-highlight{
  background-color: white !important;
  color: black !important;
  box-shadow: inset 0 0 0 0.2em #8dcdff !important;
  -webkit-box-shadow: inset 0 0 0 0.2em #8dcdff !important;
  -moz-box-shadow: inset 0 0 0 0.2em #8dcdff !important;
}
.container{
  max-width: 100%;
}
