<div>
  <p-orderList [value]="customUploadItems"
               [listStyle]="{'height':'350px'}"
               header="Translate Me"
               (onReorder)="updateCustomUploadItemsIndex()"
  >
    <ng-template let-customUploadItem pTemplate="customUploadItem">
      <div class="ui-helper-clearfix p-grid">
        <div class="p-col">
          <div style="font-size:14px">{{customUploadItem.file.name}}</div>
        </div>
        <div class="p-col">
          <div style="font-size:14px">{{customUploadItem.file.size | fileSizePipe}}</div>
        </div>
        <div class="p-col">
          <p-button class="marginRight" label="translate me" (onClick)="openImagePreview(customUploadItem)"></p-button>
          <p-button icon="fa fa-times fa-2x" styleClass="ui-button-danger" (onClick)="removedCustomUploadItem.emit(customUploadItem)"></p-button>
          <img [src]="customUploadItem.url" id="preview" style="display:inline-block;float: right;margin:2px 0 2px 2px;" width="48">
        </div>
      </div>
    </ng-template>
  </p-orderList>
  <p-fileUpload #fileUpload multiple="true" auto="true" customUpload="true" (uploadHandler)="updateCustomUploadItems($event)" maxFileSize="10000000" mode="basic" accept="image/jpeg, image/png"></p-fileUpload>
</div>
