.ui-customSlidemenu {
    width: 12.5em;
    padding: .25em;
}

.ui-customSlidemenu.ui-customSlidemenu-dynamic {
    position: absolute;
}

.ui-customSlidemenu .ui-customMenu-separator {
    border-width: 1px 0 0 0;
}

.ui-customSlidemenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ui-customSlidemenu .ui-customSlidemenu-rootlist {
    position: absolute;
    top: 0;
}

.ui-customSlidemenu .ui-customSubmenu-list {
    display: none;
    position: absolute;
    top: 0;
    width: 12.5em;
    padding: .25em;
}

.ui-customSlidemenu .ui-customMenuitem-link {
    padding: .25em;
    display: block;
    position: relative;
    text-decoration: none;
}

.ui-customSlidemenu .ui-customMenuitem-icon {
    margin-right: .25em;
    vertical-align: middle;
}

.ui-customSlidemenu .ui-customMenuitem-text {
    vertical-align: middle;
}


.ui-customSlidemenu .ui-customMenuitem {
    position: relative;
    margin: .125em 0;
}

.ui-customSlidemenu .ui-customMenuitem-link .ui-customSubmenu-icon {
    position: absolute;
    margin-top: -.5em;
    right: 0;
    top: 50%;
}

.ui-customSlidemenu .ui-customSlidemenu-wrapper {
    position: relative;
}

.ui-customSlidemenu .ui-customSlidemenu-content {
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

.ui-customSlidemenu-backward {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 0.25em;
    cursor: pointer;
    display: none;
}

.ui-customSlidemenu-backward .ui-customSlidemenu-backward-icon {
    vertical-align: middle;
}

.ui-customSlidemenu-backward span {
    vertical-align: middle;
}

.ui-customSlidemenu .ui-customMenuitem-active {
    position: static;
}

.ui-customSlidemenu .ui-customMenuitem-active > .ui-customSubmenu > .ui-customSubmenu-list {
    display: block;
}

.ui-customSlidemenu ul:not(.ui-active-customSubmenu) > .ui-customMenuitem:not(.ui-customMenuitem-active),
.ui-customSlidemenu .ui-active-customSubmenu > .ui-customMenuitem-active > .ui-customSubmenu > .ui-customSubmenu-list {
    display: none;
}

.ui-customSlidemenu .ui-active-customSubmenu > .ui-customMenuitem-active ~ .ui-customMenuitem {
    display: block;
}
