<div class="p-grid container p-justify-between">
  <div class="p-col">
    <ul>
      <li>
        <app-navigation></app-navigation>
      </li>
      <li *ngIf="screenSize > 969">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="fa fa-search" style="line-height: 1.25;"></i></span>
          <input type="text" pInputText placeholder="Search">
        </div>
      </li>
    </ul>
  </div>
  <div class="p-col-6" id="titleContainer">
    <h1 *ngIf="screenSize > 969">Ecat Product catalog</h1>
    <h2 *ngIf="screenSize < 970 && screenSize > 522">Ecat Product catalog</h2>
    <h3 *ngIf="screenSize < 523">Ecat Product catalog</h3>
  </div>
  <div class="p-col" id="logoutContainer">
    <p-button label="logout" *ngIf="authenticationService.hasPermission('ADMINISTRATE')"></p-button>
  </div>

</div>
