<div class="p-grid container p-justify-between">
  <div class="p-col">
    <ul>
      <li>
        <app-navigation></app-navigation>
      </li>
    </ul>
  </div>
  <div class="p-col-6" id="titleContainer">
    <h2 routerLink="/homepage">Ecat Produktkatalog</h2>
  </div>
  <div class="p-col p-grid p-justify-end" id="buttonContainer">
    <p-button label="{{ authenticationService.getUsername() }}" *ngIf="authenticationService.isLoggedIn()" id="usernameBtn"></p-button>
    <p-button label="logout" *ngIf="authenticationService.isLoggedIn()" (onClick)="authenticationService.logout()"></p-button>
  </div>

</div>
