.container {
  background-color: rgba(0, 5, 143, 0.8);
  margin-bottom: 1em;
  padding: 0.5em;
  color: white;
  border-bottom: 5px solid rgb(0, 6, 94);
  width: 100%;
}
#titleContainer{
  text-align: center;
  position: relative;
}
#logoutContainer{
  position: relative;
  p-button{
    position: absolute;
    right: 0;
    margin-right: 0.5rem;
  }
}
h1, h2, h3{
  margin: 0;
  cursor: pointer;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
  li{
    display: inline-block;
    margin-right: 0.5em;
  }
}
input{
  width: 15vw;
}
