.formGroup{
  display: block;
  label{
    display: block;
    margin-bottom: 1em;
  }
  margin-bottom: 2em;
}
.container{
  margin: 0.5rem;
}
:host{
  text-align: left;
}
.marginRight{
  margin-right: 0.5rem;
}
::ng-deep .input{
  width: 100% !important;
}
