.form{
  max-width: 100%;
}
.formGroup{
  display: block;
  label{
    display: block;
    margin-bottom: 1em;
  }
  margin-bottom: 2em;
  max-width: 100%;
}
.container{
  margin: 0.5rem;
}
:host{
  text-align: left;
}
.marginRight{
  margin-right: 0.5rem;
}
::ng-deep .input{
  width: 100% !important;
}
::ng-deep .ui-dialog{
  width: 70%;
}
