<div #container class="container p-grid p-dir-row">
  <div #imageContainer class="p-col-fixed imageContainer" style="width: 100%">
    <img *ngIf="promotion.returnPromotionImageDtos[0]" [hidden]="loading" src="{{promotion.returnPromotionImageDtos[0].url}}" (load)="loading = false">
    <p-progressSpinner [style]="{width: '100%', paddingTop: '75%'}" *ngIf="loading"></p-progressSpinner>
    <img [hidden]="loading" *ngIf="!promotion.returnPromotionImageDtos[0]" src="assets/images/Test.png" (load)="loading = false">
  </div>
  <div class="p-col dynamicContainer">
    <div class="content">
      <div class="headerContainer">
        {{promotion.title}}
      </div>
      <div class="descriptionContainer" *ngIf="expanded">
        <p class="noMargin">{{promotion.description}}</p>
      </div>
    </div>
    <div class="footer">
      <p-button label="Details" (onClick)="expand()"></p-button>
    </div>
  </div>
</div>
<p-contextMenu #contextMenu (onShow)="contextmenuService.closeAllExcept(promotion.id)" [target]="imageContainer" [model]="promotionContextItems" *ngIf="this.authService.hasPermission('ADMINISTRATE')"></p-contextMenu>

