img{
  width: 100%;
}
.noMargin{
  margin: 0;
}
.container{
  -webkit-box-shadow: 2px 5px 6px 2px rgba(0,0,0,0.45);
  -moz-box-shadow: 2px 5px 6px 2px rgba(0,0,0,0.45);
  box-shadow: 2px 5px 6px 2px rgba(0,0,0,0.45);
  border-radius: 5px;
}
.dynamicContainer {
  display: flex;
  flex-direction: column;
}
.footer{
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.content{
  flex: 1 1 auto;
  -ms-flex: 1 1 auto;
}
/* styles for '...' */
.headerContainer {
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  height: 2.4em;
  max-height: 2.4em;
  font-weight: bold;
}
:host{
  transition: width 1s;
}
