.form{
  max-width: 100%;
}
.formGroup{
  display: block;
  text-align: left;
  label{
    display: block;
  }
}
.marginRight{
  margin-right: 0.5rem;
}
form{
  padding: 0;
}
.input{
  width: 100%;
}
::ng-deep .ui-dropdown{
  width: 100% !important;
  max-width: 100% !important;
  display: block !important;
}
::ng-deep .ui-dropdown-label{
  text-overflow: ellipsis !important;
  overflow: hidden !important;
}
::ng-deep .ui-multiselect{
  width: 100% !important;
}
