<p-dialog [(visible)]="showDialog" [modal]="true" [style]="{height: 'auto', width: '420px'}">
  <div class="container p-dir-col p-grid p-justify-center">
    <div class="formGroup p-col" *ngIf="authenticationService.hasPermission('ADMINISTRATE_ADMINS')">
      <label>{{ 'adminEditor.userSelection' | translate }}</label>
      <p-dropdown class="input" [options]="usersItems" [(ngModel)]="selectedUser" (onChange)="adminForm.patchValue($event.value)"></p-dropdown>
    </div>
    <form [formGroup]="adminForm" class="p-col p-dir-col p-grid p-justify-center">
      <div class="formGroup p-col">
        <label for="nameField">{{ 'adminEditor.name' | translate}}</label>
        <input class="input" type="text" pInputText formControlName="name" id="nameField">
      </div>
      <div class="formGroup p-col" *ngIf="authenticationService.hasPermission('ADMINISTRATE_ADMINS')">
        <label for="permissionsField">{{ 'adminEditor.permissions' | translate }}</label>
        <p-multiSelect class="input" id="permissionsField" [options]="permissionsItems" formControlName="permissions"></p-multiSelect>
      </div>
      <div class="formGroup p-col">
        <label for="passwordField">{{ 'adminEditor.newPassword' | translate }}</label>
        <input class="input" type="password" pInputText formControlName="password" id="passwordField">
      </div>
    </form>
    <div class="formGroup p-col">
      <label for="confirmPasswordField">{{ 'adminEditor.newPasswordConfirm' | translate }}</label>
      <input class="input" type="password" pInputText id="confirmPasswordField">
    </div>
    <div class="formGroup p-col">
      <p-button label="{{ 'buttons.save' | translate }}" (onClick)="saveUser()" class="marginRight"></p-button>
      <p-button label="{{ 'buttons.delete' | translate }}" (onClick)="deleteUser()" class="marginRight" [disabled]="!selectedUser || selectedUser.id == ownUser.id || selectedUser.id == 0 || !selectedUser.id"></p-button>
      <p-button label="{{ 'buttons.undo' | translate }}" (onClick)="resetFormToLastState()" [disabled]="!selectedUser || selectedUser.id == 0 || !selectedUser.id"></p-button>
    </div>
  </div>
</p-dialog>
