<div #container class="container p-grid p-dir-row">
  <div #imageContainer class="p-col-fixed imageContainer" style="width: 100%">
    <img *ngIf="product.returnProductImageDtos[0]" [hidden]="loading" src="{{product.returnProductImageDtos[0].url}}" (load)="loading = false">
    <p-progressSpinner [style]="{width: '100%', paddingTop: '75%'}" *ngIf="loading"></p-progressSpinner>
    <img *ngIf="!product.returnProductImageDtos[0]" [hidden]="loading" src="/assets/images/Test.png" (load)="loading = false">
  </div>
  <div class="p-col dynamicContainer">
    <div class="content">
      <div class="headerContainer">
        {{product.name}}
      </div>
      <div class="articleNrContainer">
        {{product.articleNr}}
      </div>
      <div class="descriptionContainer" *ngIf="expanded">
        <p class="noMargin">{{product.description}}</p>
      </div>
    </div>
    <div class="footer">
      <p-button label="Details" (onClick)="expand()"></p-button>
      <p class="noMargin">{{product.price | currency:'CHF'}}</p>
    </div>
  </div>
</div>
<p-contextMenu #contextMenu (onShow)="contextmenuService.closeAllExcept(product.id)" [target]="imageContainer" [model]="productContextItems" *ngIf="this.authService.hasPermission('ADMINISTRATE')"></p-contextMenu>

