<div #container class="container p-grid p-dir-row">
  <div #imageContainer class="p-col-fixed imageContainer" style="width: 100%">
    <img #productCardImage src="assets/images/{{product.pictureName}}">
  </div>
  <div class="p-col dynamicContainer">
    <div class="content">
      <div class="headerContainer">
        {{product.name}}
      </div>
      <div class="articleNrContainer">
        {{product.articleNr}}
      </div>
      <div class="descriptionContainer" *ngIf="expanded">
        <p class="noMargin">{{product.description}}</p>
      </div>
    </div>
    <div class="footer">
      <p-button label="Details" (onClick)="expand()"></p-button>
      <p class="noMargin">{{product.price | currency:'CHF'}}</p>
    </div>
  </div>
</div>
<p-contextMenu #contextMenu (onShow)="contextmenuService.closeAllExcept(product.id)" [target]="productCardImage" [model]="productContextItems" *ngIf="this.authService.hasPermission('ADMINISTRATE')"></p-contextMenu>

