<div class="container p-grid p-dir-row p-justify-center">
  <form>
    <div class="formGroup p-col">
      <label>Selected Product</label>
      <p-dropdown [options]="productItems" [(ngModel)]="selectedProduct" name="productSelection"></p-dropdown>
    </div>
    <div class="formGroup p-col">
      <label>Selected Product Family</label>
      <p-dropdown [options]="productFamilyItems" [(ngModel)]="selectedProduct.productFamilyId" name="productFamilySelection"></p-dropdown>
    </div>
    <div class="formGroup p-col">
      <label for="nameField">Product Name</label>
      <input type="text" pInputText [(ngModel)]="selectedProduct.name" name="name" id="nameField">
    </div>
    <div class="formGroup p-col">
      <label for="descriptionField">Product Description</label>
      <textarea type="text" pInputTextarea [(ngModel)]="selectedProduct.description" name="description" id="descriptionField"></textarea>
    </div>
    <div class="formGroup p-col">
      <label for="articleNrField">Product Article Number</label>
      <input type="text" pInputText [(ngModel)]="selectedProduct.articleNr" name="articleNr" id="articleNrField">
    </div>
    <div class="formGroup p-col">
      <label for="priceField">Product Price</label>
      <input type="number" pInputText [(ngModel)]="selectedProduct.price" name="price" id="priceField">
    </div>
    <div class="formGroup p-col">
      <p-button label="Save" (onClick)="saveProduct()"></p-button>
      <p-button label="Reset" (onClick)="resetFormToLastState()" [disabled]="!selectedProduct.id"></p-button>
      <p-button label="Delete" class="ui-button-danger" (onClick)="deleteProduct(selectedProduct.id)" [disabled]="!selectedProduct.id"></p-button>
    </div>
  </form>
</div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
