<p-dialog [(visible)]="showDialog" [modal]="true" header="{{ 'productEditor.productEditor' | translate }}">
  <div class="container p-grid p-dir-col p-justify-center">
    <div class="formGroup p-col">
      <app-custom-upload [customUploadItems]="returnProductImageDtos"
                         (listReorder)="updateProductImagesIndex($event)"
                         (newCustomUploadItem)="saveNewProductImage(customUploadItemToSaveProductImageDto($event))"
                         (removedCustomUploadItem)="deleteProductImage($event)"
      ></app-custom-upload>
    </div>
    <form [formGroup]="productForm">
      <div class="formGroup p-col">
        <label>{{ 'productEditor.productFamilySelection' | translate }}</label>
        <p-dropdown class="input" [options]="productFamilyItems" formControlName="productFamilyId"></p-dropdown>
      </div>
      <div class="formGroup p-col">
        <label for="nameField">{{ 'productEditor.productName' | translate }}</label>
        <input class="input" type="text" pInputText formControlName="name" id="nameField">
      </div>
      <div class="formGroup p-col">
        <label for="descriptionField">{{ 'productEditor.productDescription' | translate }}</label>
        <textarea class="input" type="text" pInputTextarea formControlName="description" id="descriptionField"></textarea>
      </div>
      <div class="formGroup p-col">
        <label for="articleNrField">{{ 'productEditor.articleNumber' | translate }}</label>
        <input class="input" type="text" pInputText formControlName="articleNr" id="articleNrField">
      </div>
      <div class="formGroup p-col">
        <label for="priceField">{{ 'productEditor.price' | translate }}</label>
        <input class="input" type="number" pInputText formControlName="price" id="priceField">
      </div>
      <div class="formGroup p-col">
        <p-button label="{{ 'buttons.save' | translate }}" (onClick)="saveProduct()" class="marginRight"></p-button>
        <p-button label="{{ 'buttons.undo' | translate }}" (onClick)="resetFormToLastState()" [disabled]="!product || product.id == 0 || !product.id"></p-button>
      </div>
    </form>
  </div>
</p-dialog>
