.formGroup{
  display: block;
  text-align: left;
  margin-bottom: 2em;
  label {
    display: block;
    margin-bottom: 1em;
  }
}
.container{
  margin: 0.5rem;
}
.marginRight{
  margin-right: 0.5rem;
}
.input{
  width: 100%;
  min-width: 100%;
}
::ng-deep .ui-dropdown{
  width: 100% !important;
}
