.formGroup{
  display: block;
  text-align: center;
  margin-bottom: 2em;
  label{
    display: block;
    margin-bottom: 1em;
  }
  input{
    width: 420px;
  }
  textarea{
    width: 420px;
  }
  p-dropdown{
    min-width: 300px !important;
  }
  .ui-dropdown{
    min-width: 420px !important;
  }
}
.ui-calendar{
  min-width: 420px !important;
}
.container{
  margin: 0.5rem;
}
.marginRight{
  margin-right: 0.5rem;
}
