.container{
  min-height: 100vh;
  //IE11
  display: -ms-grid;
  -ms-grid-columns: 1fr;
  -ms-grid-rows: auto 1fr auto;
  //Other browsers
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}
.header-container{
  //IE11
  -ms-grid-column: 1;
  -ms-grid-row: 1;
  //Other browsers
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.content-container{
  //IE11
  -ms-grid-column: 1;
  -ms-grid-row: 2;
  //Other browsers
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  //IE11
  display: -ms-grid;
  -ms-grid-columns: auto 1fr;
  -ms-grid-rows: auto;
  //Other browsers
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
}
.nav-container{
  //IE11
  -ms-grid-column: 1;
  -ms-grid-row: 1;
  //Other browsers
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.router-container{
  //IE11
  -ms-grid-column: 2;
  -ms-grid-row: 1;
  //Other browsers
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
.footer-container{
  //IE11
  -ms-grid-column: 1;
  -ms-grid-row: 3;
  //Other browsers
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}
:host{
  display: -ms-grid;
  -ms-grid-columns: 100%;
}
