<div class="new-promotions p-grid">
  <app-promotion-card
    *ngFor="let newPromotion of newPromotions"
    [promotion]="newPromotion"
    [classes]="'p-col'"
    (deletePromotion)="onDeletePromotion($event)"
  >

  </app-promotion-card>
</div>
<div class="normal-promotions p-grid p-dir-row">
 <app-promotion-card
   *ngFor="let normalPromotion of normalPromotions"
   [promotion]="normalPromotion"
   [classes]="'p-col-6 p-lg-3'"
   (deletePromotion)="onDeletePromotion($event)"
 >

 </app-promotion-card>
</div>
<app-promotion-editor></app-promotion-editor>
