<div class="new-promotions p-grid">
  <app-promotion-card
    *ngFor="let newPromotion of newPromotions"
    [promotion]="newPromotion"
    (deletePromotion)="onDeletePromotion($event)"
    [newPromotion]="true"
  >

  </app-promotion-card>
</div>
<div class="normal-promotions p-grid p-dir-row">
 <app-promotion-card
   *ngFor="let normalPromotion of normalPromotions"
   [promotion]="normalPromotion"
   (deletePromotion)="onDeletePromotion($event)"
 >
 </app-promotion-card>
</div>
<div class="p-grid" *ngIf="!promotions.length > 0">
  <div class="p-col-6 p-offset-2" id="empty">
    <p>{{"emptyPage.promotion" | translate}}</p>
    <p-button *ngIf="authService.hasPermission('ADMINISTRATE_PRODUCTS')" label="{{'navigation.new' | translate}}" (onClick)="createNewPromotion()"></p-button>
  </div>
</div>
<app-promotion-editor *ngIf="authService.hasPermission('ADMINISTRATE_PROMOTIONS')"></app-promotion-editor>
