<div class="p-grid p-dir-col p-justify-center">
  <form [formGroup]="loginFormGroup">
    <div class="p-col">
      <label for="usernameField">Benutzername</label>
      <input type="text" pInputText formControlName="username" id="usernameField">
    </div>

    <div class="p-col">
      <label for="passwordField">Passwort</label>
      <input type="password" pPassword formControlName="password" id="passwordField" [feedback]="false"/>
    </div>
  </form>
  <div class="p-col">
    <p-button label="login" (onClick)="login()"></p-button>
  </div>
</div>
