/* You can add global styles to this file, and also import other style files */
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/nova-light/theme.css';
@import '~primeng/resources/primeng.min.css';
@import "~font-awesome/css/font-awesome.css";
body, html{
  font-family: "Open Sans";
  margin: 0;
  padding: 0;
  height: 100%;
}
.p-grid{
  margin: 0 !important;
}
.content {
  flex: 1;
}
//.ui-slidemenu-backward{
//  position: relative !important;
//}
