<div>
  <p-button icon="fa fa-bars" (click)="displaySideBar = true"></p-button>
  <p-sidebar [(visible)]="displaySideBar">
    <ul>
      <li>
        <div class="ui-inputgroup" *ngIf="screenSize < 760">
          <span class="ui-inputgroup-addon"><i class="fa fa-search" style="line-height: 1.25;"></i></span>
          <input type="text" pInputText placeholder="Search">
        </div>
      </li>
      <li>
        <a href="https://localhost:4200/ecatAdmin">ecat admin</a>
      </li>
      <li>
        <a href="https://localhost:4200/ecatAdmin">ecat promo</a>
      </li>
    </ul>
    <p-tree selectionMode="single" [value]="data">
    </p-tree>
    <p-megaMenu [model]="items">

    </p-megaMenu>
  </p-sidebar>
</div>
